body{
    background-color: azure;
}
header{
    position: relative;
    margin: auto;
    text-align: center;
}
nav{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    background-color: rgb(114, 26, 26);
}
nav ul{
    position: relative;
    margin: auto;
    width: 50%;
    text-align: center;
}

nav ul li{
    display: inline-block;
    margin: auto;
    width: 23%;
    list-style: none;
    color: azure;
}

nav ul li a{
    color: azure;
    text-decoration: none;
}
footer{
    background: rgb(114, 26, 26);
    background: rgb(114, 26, 26);
    color: azure;
    text-align: center;
    font-size: medium;
}

.texto{
    color: rgb(0, 0, 0);
}
.texto2{
    color: rgb(253, 253, 253);

}

.center {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #dbe4ed; /* Border color is optional */  }