<section class="scroll-mt-12" id="how">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div>
     <h2
        class="text-2xl tracking-tighter  font-light lg:text-4xl text-black"
      >
    ¿Cómo funciona?
      </h2>
    </div>
    <div>
      <p class="text-sm text-zinc-500 mt-8">
        Primero deberá contactarse conmigo, después de analizar el proyecto negociaremos el precio y a partir de ese momento empezaremos a trabajar aplicando metodologías ágiles como Scrum, para solicitar cambios tendrá que hacerlo de una manera formal siguiendo las reglas.
        <br /><br />
        Por último, usted tendrá acceso a un tablero en donde se mostrará la forma en la que el proyecto está avanzando.






      </p>
    </div>
  </div>
</section>
