# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.sublime-*

# Godot exports temporales
*.import
.godot/

# Node (si en algún momento se añade un build step)
node_modules/
dist/

# Docker
docker/*.log
